{{ define "section_content" }}
<div class="section" id="content">
    {{ .Content }}
    <ul>
        {{ range .Data.Pages }}
        <li>
            {{ if .Params.showDate }}

            {{ .Date.Format (.Site.Params.dateForm | default "Mon Jan 02, 2006")}} --

            {{ end }}
            <a href="{{.Permalink}}" class="project-title">
                {{.Title}}
            </a>
            {{ if .Params.Summary }}
            -- <p>{{ .Summary }}</p>
            {{ end }}
        </li>
        {{ end }}
    </ul>
</div>
{{ end }}